<div class="jumbotron">

  <h1>{{title}}</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Created At</th>
        <th>Done</th>
        <th></th>
      </tr>
    </thead>
    <tr ng-repeat="task in tasks">
      <td ng-style="{'text-decoration': defineStyle(task.isDone)}">{{task.title}}</td>
      <td>{{task.createdAt | date: 'dd/MM/yyyy'}}</td>
      <td><input type="checkbox" ng-model="task.isDone" /></td>
      <td> <button type="button" class="btn btn-danger" ng-click="deleteTask(task.id)">Delete task</button> </td>
    </tr>
  </table>

  <div class="form-group">
    <label for="task">Title:</label>
    <input type="text" class="form-control" id="task" ng-model="newTaskTitle">
  </div>

  <button type="button" class="btn btn-primary" ng-click="createTask(newTaskTitle)">Create task</button>

</div>